@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Oswald&display=swap');
/*====  RESET ============================ */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
}

/* global */

html {
    scroll-behavior: smooth;
}


/* #navigation */

#header {
    margin: 2rem;
    display: flex;
    position: fixed;
    top: 0%;
    left: 0;
    display: flex;
    align-items: center;
    background-color: azure;
    color: blueviolet;
    border-bottom: brown;

}